<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="d-flex justify-content-between align-items-center">
        <strong>Hóa đơn (Món ăn)</strong>
        <span class="badge bg-warning text-dark fs-6">Bàn: {{ currTableId }}</span>
        <!-- Đổi tiêu đề -->
      </c-card-header>
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
            <tr>
              <th>#</th>
              <th>Món ăn</th>
              <th>Số lượng</th>
              <th>Đơn giá</th>
              <th>Thành tiền</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of ordersData; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ order.dishName }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.price | number }} VNĐ</td>
              <td>{{ order.total }} VNĐ</td>
              <td>{{ translateStatus(order.status) }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4 payment-card">
      <c-card-header>
        <b> Thanh toán </b>

        <c-badge
          [color]="isPaid ? 'success' : 'warning'"
          shape="rounded-pill"
          class="float-end status-badge"
         >
          {{ paymentStatusDisplay }}
        </c-badge>
      </c-card-header>
      <c-card-body>
        <c-row
          class="align-items-center justify-content-between flex-column flex-md-row"
        >
          <!-- Phần ghi chú -->
          <!-- <c-col md="5" class="mb-3">
            <c-input-group >
              <span cInputGroupText>Ghi chú</span>
              <textarea aria-label="With textarea" cFormControl></textarea>
            </c-input-group>
          </c-col> -->

          <!-- Thành tiền với icon -->
          <c-col md="auto" class="text-end mb-3">
            <div class="payment-info d-flex justify-content-between">
              <div>
                <i class="fa-solid fa-money-bill-wave"></i>
                <span>Thành tiền:</span>
              </div>
              <span class="payment-amount">{{ getTotalPrice() }} VNĐ</span>
            </div>
          </c-col>

          <!-- Nút Thanh toán -->
          <c-col md="auto" class="mb-3">
            <button
              (click)="submitRecharge()"
              [disabled]="isPaid || orderSessionStatus != 'Ready To Pay'"
              class="btn btn-primary payment-btn m-auto mb-2"
            >
              <div class="payment_logo">
                <img
                  src="/assets/images/payment/vnpay-logo.jpg"
                  alt="vnpay"
                  class="img_logo"
                />
              </div>
              Xác nhận thanh toán
            </button>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
